<%= form_for(@agency, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @agency.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4>
                <%= pluralize(@agency.errors.count, "error") %> prohibited this agency from being saved:</h2>

                    <ul>
                        <% @agency.errors.full_messages.each do |message| %>
                            <li>
                                <%= message %>
                            </li>
                            <% end %>
                    </ul>
        </div>
        <% end %>

            <div class="form-group">
                <%= f.label :agency, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :agency_number, class: "form-control" %>
                    </div>
            </div>
            <div class="form-group">
                <%= f.label :address, class: "col-sm-2 control-label" %>
                    <div class="col-sm-10">
                        <%= f.text_field :address, class: "form-control" %>
                    </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit class: "btn btn-primary" %>
                </div>
            </div>
            <% end %>