<div class="page-header">
    <%= link_to new_release_path, class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"></span> New Release
        <% end %>
            <h1>Listing releases
            </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Account</th>
                <th>Release type</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <%= content_tag_for(:tr, @releases) do |release| %>
                <td>
                    <%= release.account.account_number %>
                </td>
                <td>
                    <%= release.release_type %>
                </td>
                <td>
                    <%= release.value %>
                </td>
                <td>
                    <%= link_to 'Show', release %>
                </td>
            <% end %>
        </tbody>
    </table>
</div>